@import "breakpoints";

.auth {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.auth__background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @include min-width-xl {
        position: absolute;
    }
}

.auth__background-image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.auth__background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    opacity: 0.6;
}

.auth__navbar {
    margin-top: var(--content-space);
    margin-bottom: 440px;

    @include min-width-md {
        margin-bottom: 100px;
    }
}

.auth__container {
    position: relative;

    @include min-width-md {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;
    }
}

.auth__header {
    flex-shrink: 0;
}

.auth__main {
    flex-grow: 1;
    height: 100%;
    margin-bottom: 50px;

    @include min-width-xl {
        margin-bottom: 100px;
    }
}
