@import "breakpoints";

.auth-navigation {
    display: flex;
    padding-bottom: 2px;
}

.auth-navigation__link {
    font-weight: var(--medium-font-weight);
    opacity: 0.4;
    transition: 0.3s;

    &:hover {
        opacity: var(--primary-opacity);
    }

    &--active {
        opacity: var(--primary-opacity);
    }
}

.auth-navigation__separator {
    font-weight: var(--medium-font-weight);
    opacity: var(--primary-opacity);
    margin: 0 15px;

    @include min-width-lg {
        margin: 0 25px;
    }
}
