@import "breakpoints";

.auth-btns {
    font-weight: var(--medium-font-weight);
    display: flex;
    opacity: var(--primary-opacity);
    padding-bottom: 2px;
}

.auth-btns__separator {
    margin: 0 15px;

    @include min-width-lg {
        margin: 0 25px;
    }
}
