@import "breakpoints";

.comments-container {
    @include min-width-xl {
        display: flex;
        flex-direction: column-reverse;
    }
}

.comments-container__comment {
    margin-bottom: 50px;
}

.comments-container__message-form {
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

.comments-container__message-input {
    flex-grow: 1;
    font-weight: var(--medium-font-weight);
    color: var(--white);
    padding: 5px 0;
    opacity: var(--primary-opacity);
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);

    &::placeholder {
        color: var(--white);
        opacity: 0.4;
    }
}

.comments-container__send-btn {
    font-weight: var(--medium-font-weight);
    opacity: var(--primary-opacity);
    margin-bottom: -2px;
    text-decoration: underline;
}

.commments-container__comment-messages-container {
    @include min-width-md {
        display: flex;
        gap: 50px;
    }

    @include min-width-xl {
        flex-direction: column;
    }

    @include min-width-xl {
        gap: 0;
    }
}

.comments-container__message {
    opacity: var(--primary-opacity);
}
