@import "breakpoints";

.comment-form__primary-container {
    margin-bottom: 15px;
}

.comment-form__secondary-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
    max-width: 400px;
    margin-left: 60px;

    @include min-width-md {
        flex-direction: row;
        align-items: flex-end;
        gap: 20px;
    }
}

.comment-form__message-input {
    font-weight: var(--medium-font-weight);
    width: 100%;
    color: var(--white);
    padding: 5px 0;
    opacity: var(--primary-opacity);
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);

    &::placeholder {
        color: var(--white);
        opacity: 0.6;
    }
}

.comment-form__send-btn {
    font-weight: var(--medium-font-weight);
    opacity: var(--primary-opacity);
    margin-bottom: -2px;
    text-decoration: underline;
}
