.form-password-input {
    width: 100%;
    position: relative;
}

.form-password-input__show-btn {
    font-size: 10px;
    font-weight: var(--medium-font-weight);
    text-decoration: underline;
    position: absolute;
    bottom: 8px;
    right: 0;
    opacity: 0.4;
    transition: 0.3s;

    &--active {
        opacity: 0.87;
    }
}
