@import "breakpoints";

.home__navbar {
    margin-bottom: 475px;

    @include min-width-md {
        margin-bottom: 150px;
    }

    @include min-width-lg {
        margin-bottom: 200px;
    }

    @include min-width-xl {
        margin-bottom: 100px;
    }
}

.home__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    @include min-width-xl {
        position: fixed;
    }
}

.home__content-section {
    margin-bottom: 100px;

    &--last {
        margin-bottom: 70px;

        @include min-width-lg {
            margin-bottom: 100px;
        }
    }
}

.home__copy-right {
    margin-bottom: 30px;

    @include min-width-lg {
        margin-bottom: 40px;
    }
}
