.loading-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.loading-info__quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.loading-info__quote-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.loading-info__quote-text {
  font-weight: var(--medium-font-weight);
  opacity: var(--light-opacity);
}

.loading-info__quote-source {
  font-size: 12px;
  font-weight: var(--medium-font-weight);
  opacity: var(--light-opacity);
}
