@use "breakpoints" as *;

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 200;
}

.loading-overlay__content-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.loading-overlay__content-container--animate-out {
  animation: fade-out 0.5s ease-in-out forwards;
}

.loading-overlay__background-image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black);
}

.loading-overlay__info-container {
  position: relative;
  max-width: var(--max-content-width-xl);
  height: 100%;
  margin: auto;
}

.loading-overlay__info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: var(--content-space);

  @include min-width-md {
    align-items: flex-end;
    padding: 100px var(--content-space) 100px var(--content-space);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    transform: scale(1);
    filter: blur(0px);
  }

  to {
    opacity: 0;
    transform: scale(1.1);
    filter: blur(20px);
  }
}
