@import "breakpoints";

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.navbar__open-menu {
    @include min-width-lg {
        display: none;
    }
}

.navbar__open-menu-btn {
    font-weight: var(--medium-font-weight);
    opacity: var(--primary-opacity);
}

.navbar__menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 99;

    &--show {
        display: block;
    }

    @include min-width-lg {
        display: block;
        position: static;
        width: auto;
        min-height: auto;
        z-index: auto;
    }
}

.navbar__dark-menu-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    opacity: 0;
    transform: scale(0.9);
    transition: 0.5s;

    &--animate-in {
        opacity: 0.9;
        transform: scale(1);
    }

    @include min-width-lg {
        display: none;
    }
}

.navbar__close-menu {
    padding-top: var(--content-space);
    padding-left: var(--content-space);
    padding-bottom: 50px;
    overflow: hidden;

    @include min-width-lg {
        display: none;
    }
}

.navbar__close-menu-btn {
    font-weight: var(--medium-font-weight);
    opacity: 0;
    transform: translateY(100%);
    transition: 0.5s;

    &--animate-in {
        opacity: var(--primary-opacity);
        transform: translateY(0);
    }
}

.navbar__navigation {
    display: none;
    padding-left: var(--content-space);

    &--show {
        display: block;
    }

    @include min-width-lg {
        display: block;
        padding-left: 0;
    }
}

.navbar__secondary-container {
    position: relative;
}
