@import "breakpoints";

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__menu-btn {
    font-weight: var(--medium-font-weight);
    opacity: var(--primary-opacity);

    @include min-width-lg {
        display: none;
    }
}

.navbar__menu-layout {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;

    &--show {
        display: block;
    }

    @include min-width-lg {
        display: none;
    }
}

.navbar__menu-overlay {
    width: 100%;
    height: 100%;
    background-color: var(--black);
    opacity: 0;
    transform: scale(0.9);
    transition: 0.5s;

    &--animate-in {
        opacity: 0.9;
        transform: scale(1);
    }
}

.navbar__close-menu {
    position: absolute;
    top: var(--content-space);
    left: var(--content-space);
    overflow: hidden;
}

.navbar__close-menu-btn {
    font-weight: var(--medium-font-weight);
    opacity: var(--primary-opacity);
    opacity: 0;
    transform: translateY(100%);
    transition: 0.5s;

    &--animate-in {
        opacity: var(--primary-opacity);
        transform: translateY(0);
    }
}

.navbar__navigation {
    position: fixed;
    top: 100px;
    left: var(--content-space);
    display: none;
    z-index: 1;

    &--show {
        display: block;
    }

    @include min-width-lg {
        position: static;
        display: block;
    }
}
