.nav-link {
    font-weight: var(--medium-font-weight);
    opacity: 0.4;
    transition: 0.3s;

    &:hover {
        opacity: var(--primary-opacity);
    }

    &--active {
        opacity: var(--primary-opacity);
    }
}
