@import "breakpoints";

.popular__navbar {
    margin-bottom: 470px;

    @include min-width-md {
        margin-bottom: 300px;
    }

    @include min-width-lg {
        margin-bottom: 325px;
    }

    @include min-width-xl {
        margin-bottom: 100px;
    }
}

.popular__wallpapers {
    margin-bottom: 100px;
}

.popular__copy-right {
    margin-bottom: 30px;

    @include min-width-lg {
        margin-bottom: 40px;
    }
}
