@import "breakpoints";

.popular-wallpapers__info {
    @include min-width-md {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.popular-wallpapers__period {
    margin-bottom: 100px;

    @include min-width-md {
        margin-top: 37px;
    }
}

.popular-wallpapers__title {
    @include min-width-md {
        margin-bottom: 37px;
    }
}
