@import "breakpoints";

.popular__info {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: -20px;

    @include min-width-md {
        flex-direction: column;
        margin-bottom: 0;
    }

    @include min-width-lg {
        justify-content: space-between;
    }
}

.popular__duration {
    display: flex;
    justify-content: flex-start;

    @include min-width-md {
        flex-direction: column;
        justify-content: baseline;
        align-items: flex-start;
        margin-top: 37px;
        margin-bottom: 85px;
    }

    @include min-width-lg {
        margin-bottom: 0;
    }
}

.popular__duration-btn {
    font-weight: var(--medium-font-weight);
    margin-right: 30px;
    opacity: 0.4;
    transition: 0.3s;

    &:last-child {
        margin-right: 0;
    }

    &--active {
        opacity: var(--primary-opacity);
    }

    @include min-width-md {
        margin-right: 0;
        margin-bottom: 5px;
    }
}

.popular__title {
    margin-bottom: 10px;

    @include min-width-md {
        margin-bottom: 37px;
    }
}
