.relational-like-btn {
    font-weight: var(--medium-font-weight);
    text-align: center;
    cursor: pointer;
}

.relational-like-btn__text {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    opacity: var(--primary-opacity);
    margin-bottom: 3px;
}

.relational-like-btn__count {
    font-size: 10px;
    opacity: 0.4;
}
