@import "breakpoints";

.section-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;

    @include min-width-md {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
        row-gap: 50px;
    }

    @include min-width-lg {
        gap: 50px;
    }

    @include min-width-xl {
        grid-template-columns: repeat(3, 1fr);
    }
}
