@import "breakpoints";

.section-info-container {
    &--two-rows {
        display: flex;
        flex-direction: column-reverse;
        gap: 10px;
    }

    @include min-width-md {
        height: 255px;
        display: flex;
        align-items: flex-end;
        margin-top: 30px;

        &--two-rows {
            flex-direction: column;
            justify-content: space-between;
            align-items: baseline;
        }
    }

    @include min-width-xl {
        height: 220px;
    }
}
