@import "breakpoints";

.wallpaper__navbar {
    margin-top: var(--content-space);
    margin-bottom: 480px;

    @include min-width-md {
        margin-bottom: 100px;
    }

    @include min-width-lg {
        margin-top: 40px;
    }
}
