@import "breakpoints";

.wallpaper-comments {
    display: flex;
    flex-direction: column;
    gap: 50px;

    @include min-width-xl {
        flex-direction: column-reverse;
    }
}

.wallpaper-comments__message-form {
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

.wallpaper-comments__message-input {
    flex-grow: 1;
    font-weight: var(--medium-font-weight);
    color: var(--white);
    padding: 5px 0;
    opacity: var(--primary-opacity);
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);

    &::placeholder {
        color: var(--white);
        opacity: 0.6;
    }
}

.wallpaper-comments__send-btn {
    font-weight: var(--medium-font-weight);
    opacity: var(--primary-opacity);
    margin-bottom: -2px;
    text-decoration: underline;
}

.commments-container__comment-messages-container {
    display: flex;
    flex-direction: column;
    gap: 50px;

    @include min-width-md {
        flex-direction: row;
    }

    @include min-width-xl {
        flex-direction: column;
    }
}
